@model Nop.Plugin.miniorange.saml.Models.LoginModel
@{
    Layout = "_ConfigurePlugin";
}

<form asp-controller="saml" asp-action="LoginView" method="post">
    <div class="panel-group" style="width:700px">
        <div class="panel panel-default">
            <div class="panel-heading">
                <label style="align-content:center"><h3><b>Login with miniOrange</b></h3></label>
            </div>
            <div class="panel-body">

                <label>Email: <span style="color:red">*</span></label>
                <div class="form-group">
                    <div class="col-md-9">
                        <nop-editor asp-for="acc_email" style="width: 500px;" />
                        <span asp-validation-for="acc_email"></span>
                    </div>
                </div>

                <label>Password:  <span style="color:red">*</span> </label>
                <div class="form-group">
                    <div class="col-md-9">
                        <input class="form-control text-box single-line" id="acc_password" name="acc_password" type="password">
                        <span asp-validation-for="acc_password"></span>
                    </div>
                </div>

                <br>

                <input type="submit" name="login" class="btn bg-blue" value="Login" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href='https://login.xecurify.com/moas/idp/resetpassword'>Forgot Password?</a>

            </div>
        </div>
    </div>
</form>


