@model Nop.Plugin.miniorange.saml.Models.PublicInfoModel
@{
    Layout = "";
}

<div class="Plugin-wrapper topic-block">
    <div id="My-Custom-Plugin" class="topic-block-title">
        @if (Model.UseSandbox)
        {
            <h2>@Model.Message</h2>
        }
    </div>
</div> 